@{
    ViewBag.Title = "Index";
}

<h2>Switchboard</h2>


<style>
    .console-row {
        border: 1px #000 solid;
        width: 100%;
        max-width: 400px;
        padding: 5px;
    }

    .button {
        border: 1px #000 solid;
        background-color: #ccc;
        width: 50px;
        float: right;
        margin: 5px;
        text-align: center;
        cursor: pointer;
    }

    .console-text{
       vertical-align:middle;
       font-weight: bold;
       padding:5px;
    }

    .console {
        border: 1px #000 solid;
        width: 100%;
        max-width: 400px;
    }

        .console div {
            display: inline-block;
        }
</style>

<div class="console">
    <div class="console-row">
        <div class="console-text">TV Light</div>
        <div id="A1_Off" class="button">Off</div>
        <div id="A1_On" class="button">On</div>
    </div>
    <div class="console-row">
        <div class="console-text">Lamp</div>
        <div id="A2_Off" class="button">Off</div>
        <div id="A2_On" class="button">On</div>
    </div>
    <div class="console-row">
        <div class="console-text">TBD</div>
        <div id="A3_Off" class="button">Off</div>
        <div id="A3_On" class="button">On</div>
    </div>
</div>

<script language="javascript">
    function executeAction(jsonToSend) {
        $.ajax({
            url: '@Url.Action("Execute", "Firecracker")',
            type: 'GET',
            dataType: 'json',
            // we set cache: false because GET requests are often cached by browsers
            // IE is particularly aggressive in that respect
            cache: false,
            data: jsonToSend,
            success:
                function() {
                    alert('we did it!');
                }
                
                /*function (person) {
                $('#FirstName').val(person.FirstName);
                $('#LastName').val(person.LastName);
            }*/
        });
    }

    $(function() {
        $("#A1_On").click(function() {executeAction({ houseInput: "A", moduleInput: "1", moduleAction: "on" })});
        $("#A1_Off").click(function(){executeAction({ houseInput: "A", moduleInput: "1", moduleAction: "off" })});
        $("#A2_On").click(function(){executeAction({ houseInput: "A", moduleInput: "2", moduleAction: "on" })});
        $("#A2_Off").click(function(){executeAction({ houseInput: "A", moduleInput: "2", moduleAction: "off" })});
        $("#A3_On").click(function(){executeAction({ houseInput: "A", moduleInput: "3", moduleAction: "on" })});
        $("#A3_Off").click(function() { executeAction({ houseInput: "A", moduleInput: "3", moduleAction: "off" })});
    });
</script>